In [ ]:
a,b = 10,20
max=b if b>a else b
print(max)

min=a if a<b else a
print(min)

20
10

In [ ]:
x=24
y=20
list=[10,20,30,40,50]
if (x not in list):
  print("x is not present in given list")
else:
    print("x is present in given list")
if (y in list):
      print("y is present in given list")
else:
      print("y is not present in given list")

x is not present in given list
y is present in given list

In [ ]:
name="alex"
age=0

if name =="alex" or name == "john" and age >=2:
  print("1.hello! welcome")
else:
    print("1.good bye!!")




if name =="bhumika" or name == "bheem" and age>=2:
  print("2.hello! welcome")
else:
  print("2.good bye!!")


if name == "dhvani" and name=="dhanushree":
  print("3.hello! welcome")
else:
  print("3.good bye!!")



if name == "vansh" or name== "bhumika" and age>=0 :
    print("4.hello! welcome")
else:
  print("4.good bye!!")

1.hello! welcome
2.good bye!!
3.good bye!!
4.good bye!!

In [ ]:
print(100/10*10)
print(5-2+3)
print(500/10*2)
print(5-30+4)
print(100-70+3)

100.0
6
100.0
-21
33

In [ ]:
print(100%12)
print(123_90)

4
12390