<a href="https://colab.research.google.com/github/bhumikaydv2006/WCTM-07/blob/main/course%20assingment(3/7/25).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Q write the diffrence between "in" and "=="

In [1]:
#'in' checks for membership
print('a'in 'apple')

#'==' checks for equality
print('apple'== 'apple')

True
True

##Q write a example of membership operator

In [2]:
fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)
print('orange' not in fruits)

True
True

##Q write a code of area of equilateral triangle

In [5]:
side=float(input("enter the side of equilateral triangle"))
area=(math.sqrt(3)/4)*(side**2)
print("area of equilateral triangle is",float(area))

enter the side of equilateral triangle3

NameError: name 'math' is not defined

##Q write code for area of rhombus

In [6]:
d1=float(input("enter the first diagonal of rhombus"))
d2=float(input("enter the second diagonal of rhombus"))
area=(d1*d2)/2
print("area of rhombus is",float(area))

enter the first diagonal of rhombus4
enter the second diagonal of rhombus5
area of rhombus is 10.0

##Q write a code of comparing 3 number and display the largest ,middle and smallest

In [8]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))

nums=[a'b'c]
nums.sort():
    print("largest number is",nums[1])
    print("middle number is",nums[0])
    print("smallest number is",nums[-1]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-8-598158890.py, line 5)

##Q write a code for making calculator with different cases of operator and with display the result

In [9]:
num1=float(input("enter the first number"))
num2=float(input("enter the second number"))
operator=input("enter the operator")

if operator=='+':
    print(num1+num2)
elif operator=='-':
    print(num1-num2)
elif operator=='*':
    print(num1*num2)
elif operator=='/':
    print(num1/num2)

enter the first number4
enter the second number3
enter the operator-
1.0

##Q write a code of comparing the 2 student with their detail like name ,course name ,college name,email id, roll number

In [10]:
student1={"name":bhumika","course name":"","college name":"","email id":"","roll number":""}
student2={"name":"","course name":"","college name":"","email id":"","roll number":""}

SyntaxError: invalid syntax (ipython-input-10-486533194.py, line 1)

##Q write a code listing 10 students with predefined details

In [12]:
students=[
    {"name":"a","roll":1},
    {"name":"b","roll":2},
    {"name":"c","roll":3},
    {"name":"d","roll":4},
    {"name":"e","roll":5},
    {"name":"f","roll":6},
    {"name":"g","roll":7},
    {"name":"h","roll":8},
    {"name":"i","roll":9},
    {"name":"j","roll":10},
]
for s in students:
  print(s)

{'name': 'a', 'roll': 1}
{'name': 'b', 'roll': 2}
{'name': 'c', 'roll': 3}
{'name': 'd', 'roll': 4}
{'name': 'e', 'roll': 5}
{'name': 'f', 'roll': 6}
{'name': 'g', 'roll': 7}
{'name': 'h', 'roll': 8}
{'name': 'i', 'roll': 9}
{'name': 'j', 'roll': 10}

##Qcode of using else statement with while loop

In [13]:
count=0
while count<5:
  if count%2==0:
    print(count, "is even")
  else:
      print(count, "is odd")
      count+= 1

SyntaxError: invalid syntax (ipython-input-13-4047368007.py, line 5)